<h1>Agenda 1.0</h1>
<p>Sistema de Agenda Eletronica</p>

<p>
	Este sistema foi desenvolvido em Ruby On Rails, e faz parte do curso básico de Ruby.
</p>

<p> Aproveite estude bastante e viva no mundo Ruby....</p>
